* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: blue;
}
header {
  width: 100%;
}
header .back-image {
  background-image: url(images/banner1.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
}
header .back-cover {
  width: 100%;
  display: flex;
  height: 70px;
  /* background-color: antiquewhite; */
}
header .logo {
  padding: 20px;
  display: flex;
  align-items: center;
}
header .logo a {
  font-size: 0.3in;
  font-weight: 600;
}
header ul a:hover {
  color: orangered;
}
header .back-cover ul {
  list-style: none;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: end;
}
header .back-cover li {
  padding: 10px;
}
header .back-cover .logo {
  width: 20%;
}
header .back-cover .nav {
  width: 80%;
}
header .back-cover .log {
  color: red;
  font-size: 30px;
}
header .image-text {
  position: absolute;
  width: 100%;
  padding: 50px;
  top: 200px;
  text-align: center;
  /* background-color: aqua; */
  color: white;
  text-shadow: 5px 5px 5px black;
}
header .image-text p {
  text-transform: uppercase;
  padding-bottom: 20px;
}
header .image-text h1 {
  font-size: 0.4in;
  padding-bottom: 20px;
}
header .image-text button {
  height: 50px;
  width: 150px;
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 900;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .image-text button:hover {
  background-color: transparent;
  color: red;
  border: 2px ridge red;
  border-radius: 0px;
}
