@media (min-width: 992px) {
  header .back-image {
    width: 100%;
    height: 650px;
  }
  header .back-image .navigation .info {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
  }
  header .back-image .info .info-left {
    width: 70%;
  }
  header .back-image .info .info-right {
    width: 30%;
  }
  header .back-image .menu {
    display: flex;
    flex-direction: row;
  }
  header .back-image .menu .logo {
    width: 30%;
  }
  header .back-image .menu .nav-menu {
    width: 70%;
  }
  header .back-image .menu .nav-menu a {
    font-size: 15px;
  }
  header .back-image .menu .nav-menu li {
    padding: 20px;
  }
}
